.container {
  font-family: sans-serif;
  margin: 20px 50px;
}

/* NavBar */
.navbar {
  position: fixed;
  margin: 20px 0px;
  top: 0;
  width: calc(100% - 100px);
  box-sizing: border-box;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 1000;
}

.icon {
  width: 40px;
  margin: 10px;
  transition: filter 0.3s ease;
}

.icon:hover {
  filter: invert(88%) sepia(88%) saturate(1863%) hue-rotate(145deg)
    brightness(90%) contrast(83%);
}

.nav-right {
  float: right;
}

/* Home */

.home {
  padding-top: 250px;
  font-size: 25px;
  height: 280px;
  background-image: url('../image/background.png');
  background-position: right center;
  background-repeat: no-repeat;
}
.small-gap {
  margin: 5px;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #54dfd8;
  color: white;
}

/* About Me */

#about-me {
  padding: 10px;
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
}

.introduction {
  font-size: 17px;
}

#about-me:hover {
  box-shadow: 0px 0px 10px #54dfd8;
}
/* Projects */

.projects {
  min-height: 280px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}
.project {
  padding: 20px;
}

.projects:hover {
  filter: brightness(110%);
  box-shadow: 0px 0px 10px #54dfd8;
}

.wire-frame {
  width: 380px;
  max-height: 250px;
  object-fit: cover;
  float: right;
  padding: 20px;
}

.title {
  font-size: 25px;
}

.duration {
  margin: 0px;
  font-style: italic;
  color: gray;
}

.description {
  text-decoration: underline;
}

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #54dfd8;
}

.project-icon {
  width: 20px;
  margin: 5px;
}
.idea {
}

.stretch {
  color: rgb(80, 78, 78);
}
.skills {
  font-style: italic;
  color: rgb(80, 78, 78);
}

@media screen and (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
    text-align: center;
  }

  .wire-frame {
    width: 80%;
    padding-bottom: 0px;
  }
}
